.menu {
    display : flex;
    flex-direction : row ;
    justify-content : space-around;
    flex-flow : wrap;
    
    width: 100%;
    height: auto;
}

.menu .card {
    background-color: white;

    border: .5vh solid var(--back2);
    border-radius: 5%;

    height: 40vh;
    width: 40vh;

    margin-top: 2vh;
    margin-bottom: 1vh;
    margin-right: 2vh;

    text-align: center;
    color: var(--mainColor);
    font-weight: 500;
    text-decoration: none;

    box-shadow: 0 4px 8px 0 rgba(10, 48, 68, 0.2), 0 6px 20px 0 rgba(10, 48, 68, 0.19);

    display: flex;
    flex-direction: column;
}

.card .imgBox {
    height: 80%;
    overflow-x: hidden;
    overflow-y: hidden;

    margin-bottom: 1vh;
}

.imgBox img {
    max-height: 100%;
    width: auto;
}

@media screen and (max-width:1200px) {
    .card {
        width: 40%;
    }
}

@media screen and (max-width: 600px){
    .card {
        width: 90%;
    }
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    margin-left: 2%;
    margin-right: 2%;
    padding: 2%;

    font-size: larger;
}

.card:hover{
    cursor: pointer;
}