.container {
    padding: 3%;
}

.mainBox {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(10, 48, 68, 0.2), 0 6px 20px 0 rgba(10, 48, 68, 0.19);
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    margin-left: 2%;
    margin-right: 2%;
}

.header p {
    color: var(--mainColor);
<<<<<<< Updated upstream
    font-weight: bold;
}

.row {
=======
    font-size: larger;
    font-weight: 400;
}

.body {
    height: 80%;
    width: 100%;
    text-align: center;
}

.addToCart {
>>>>>>> Stashed changes
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
<<<<<<< Updated upstream

    padding: 2%;
    margin: 2%;
}

.inputNumber{
    width: 60px;
    height: auto;
    border: 1px solid;
    border-radius: 5px;
}
=======
    gap: 2;
}


>>>>>>> Stashed changes
