.header {
    background-color: var(--mainColor);
    padding: 1rem;

    display: flex;
    align-items: center;
    justify-content:space-between;
    flex-direction: row;

    position: sticky;
    top: 0;
    left: 0;
}

.header .links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
}

.header .brand {
    font-size:x-large;
    font-weight: bolder;

    display: flex;
    flex-direction: row;
    align-items: center;

    color: var(--font);
}

.header a {
    color: var(--font);
    font-size: larger;
}

.header a:hover {
    color: var(--backgroundColor);
}

.brand .logo {
    height: 15%;
    width: 15%;

    padding: 0;
    margin: 0;
}

.selectBox select {
    background-color: var(--back2);
}