.header {
    background-color: var(--mainColor);
    padding: 1rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;

    position: sticky;
    top: 0;
    left: 0;

    z-index: 100;
}

.header .links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
}

.header .brand {
    font-size: x-large;
    font-weight: bolder;

    display: flex;
    flex-direction: row;
    align-items: center;

    color: var(--font);
}

.header a {
    color: var(--font);
    font-size: larger;
}

.header a:hover {
    color: var(--backgroundColor);
}

.brand .logo {
    height: 15%;
    width: 15%;

    padding: 0;
    margin: 0;
}



.brand:hover {
    cursor: pointer;
}

.selectBox select {
    background-color: var(--back2);
}

.menuItem {
    margin: 0 10px 0 10px;
}

.menuHamburguesa {
    display: none;
}

.brandContent{
    display: flex;
    flex-direction: row;
    align-items: center;
}


@media (max-width: 1250px) {

    .brand .logo {
        width: 40px;
    }

    .loginSection{
        display: flex;
        flex-direction: column;
    }


    .menu {
        display: none;
        flex-direction: column !important;
        align-self: flex-end;
        margin: 10px 0 10px 0;
    }


    .menuHamburguesa {
        display: block;
    }

    .header {
        flex-direction: column;
    }

    .brand {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;

    }

    .brandContent{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        align-self: flex-start;
    }

    .menuActivo{
        display: flex;
    }

    .menuInactivo{
        display: none;
        
    }
  
    
}